#mainFrame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Formating for the header of the page */
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 10vh;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 30px;
    margin-bottom: -10px;
}

/*Formating for the audio player section*/

#audioPlayer {
    border: dotted blue 2px;
    height: 85px;
}

/*Formating for the search bar*/
#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: solid green 2px;
    margin-bottom: 20px;
}

#searchButton {
    height: 25px;
}

#searchInput {
    width: 75%;
    margin-right: 5px;
    height: 20px;
}

/*Formating for album boxes*/
.albumBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    padding: 10px;
}

img {
    margin-bottom: 10px;
    width: 100%;
}

.nameBox {
    margin: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}