#mainFrame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Formating for the header of the page */
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 10vh;
    font-size: 64px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 30px;
    margin-bottom: -10px;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 10vh;
    color: aliceblue;
}

header {
    background-image: url("https://assets.epicurious.com/photos/569faad565ed6de12b38dbf7/16:9/w_2000,h_1125,c_limit/shutterstock_338604542.jpg");
    margin-bottom: -20px;
}

/*Formating for the audio player section*/

#audioSection {
    height: 85px;
    background-color: rgba(128, 128, 128, 0.200);
    padding-top: 10px;
}

/*Formating for the search bar*/
#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-top: solid grey 2px;
    border-bottom: solid rgb(207, 207, 207) 2px;
    margin-bottom: 20px;
}

#searchButton {
    height: 25px;
}

#resetButton {
    height: 25px;
}

#searchInput {
    width: 75%;
    margin-right: 5px;
    height: 20px;
    margin-left: 5px;
}

/*Formating for album boxes*/
.albumBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    padding: 10px;
}

img {
    margin-bottom: 10px;
    width: 100%;
}

.nameBox {
    margin: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

audio {
    width: 100%;
}